<%= render 'partials/content_header', back: true, backPath: providers_path, title: '', add: 2, text: '', path_action: '' %>
<section class="content">
  <%= render 'form', provider: @provider %>
</section>


