<%= render 'partials/content_header', back: false,backPath:'' ,title: @title,add:1,text:'<i class="fa fa-plus"></i> Nuevo Provedor',path_action: new_provider_path %>
<section class="content">
  <div class="box">
    <!-- /.box-header -->
    <div class="box-body table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Proveedor</th>
          <th>Razón social</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Cuit</th>
          <th colspan="2"></th>
        </tr>
        </thead>

        <tbody>
        <%= render 'index_r'%>
        </tbody>
      </table>
    </div>
    <div id="product-modal" class="modal fade bs-example-modal-lg"></div>
  </div>
</section>

