<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li>
        <a href="<%= users_path %>">
          <span>Usuarios</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <span>Libreria</span>
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="<%= categories_path %>">Categorias</a></li>
          <li><a href="<%= colors_path %>">Colores</a></li>
        </ul>
      </li>
      <li class="header">Retaceria</li>
      <li>
        <a href="#">
          <span>Productos</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Ventas</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Estadísticas</span>
        </a>
      </li>
      <li class="header">Merceria</li>
      <li>
        <a href="#">
          <span>Productos</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Ventas</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Estadísticas</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>