<%= render 'partials/content_header', back: true,backPath:users_path ,title: @title,add:2,text:'',path_action: '' %>
<section class="content">
<%= render 'form', user: @user, roles: @roles %>
</section>