<section class="content-header">
</section>

<section class="content">
  <div class="box">
    <!-- /.box-header -->
    <div class="box-body table-responsive">
      <table class="table table-striped">
        <tbody>
        <tr>
          <td>Categorías de productos</td>
          <td style="width: 50px;"><a href="<%= categories_path %>"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          </td>
        </tr>
        <tr>
          <td>Colores</td>
          <td style="width: 50px;"><a href="<%= colors_path %>"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
        </tr>
        <tr>
          <td>Tarjetas</td>
          <td style="width: 50px;"><a href=""><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
        </tr>
        <tr>
          <td>Bancos</td>
          <td style="width: 50px;"><a href=""><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
</section>