<%= render 'partials/content_header', back: true,backPath:library_index_path ,title: @title,add:1,text:'<i class="fa fa-plus"></i> Nuevo color',path_action: new_color_path %>
<section class="content">
  <div class="box">
    <!-- /.box-header -->
    <div class="box-body table-responsive">
      <table class="table table-striped">
        <tbody>
      <% @colors.each do |color| %>
        <tr>
          <td><%= color.name %></td>
          <td style="width: 50px"><%= link_to '', edit_color_path(color), class: 'fa fa-pencil' %></td>
          <td style="width: 50px"><%= link_to '', color, class: 'fa fa-trash', method: :delete, data: {confirm: '¿Está usted seguro que desea eliminar el color?'} %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
</section>


