<%= render 'partials/content_header', back: true, backPath: retaceria_path, title: @title, add: 2, text: '', path_action: '' %>
<section class="content">
  <%= render 'form', retacerium: @retacerium %>
</section>

