
.show-property {
    padding-left: 50px;
    padding-top: 7px;
    position: relative;
}

.show-key {
    margin-right: 20px;
    font-size: 16px;
}

.show-value {
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    top: 22%;
    left: 28%;
}

.mt-0 {
    margin-top: 0 !important;
}

.ml--8 {
    margin-left: -8px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.width-50 {
    width: 50px;
}

.login-box {
    margin: 10% auto auto;
}

a {
    color: #000000;
}

.back {
    text-align: center;
    width: 40px !important;
}

.content-header {
    position: relative;
    padding: 25px 15px 20px 15px;
}

.content-header h1 {
    display: inline-block;
}

.content-header .btn {
    margin-bottom: 5px;
}

.ta-left {
    text-align: left !important;
}

.ta-right {
    text-align: right !important;
}

form p.small {
    color: #adadad;
    margin-bottom: 20px;
}