<%= render 'partials/content_header', back: true, backPath: categories_path, title: '', add: 2, text: '', path_action: '' %>
<section class="content">
  <%= render 'form', category: @category %>
</section>


