<%= render 'partials/content_header', back: true,backPath:library_index_path ,title: @title,add:1,text:'Nueva categoría',path_action: new_category_path %>
<section class="content">
  <div class="box">
    <!-- /.box-header -->
    <div class="box-body table-responsive">
      <table class="table table-striped">
        <tbody>
        <%= render "index_r" %>
        </tbody>
      </table>
    </div>
    <div id="product-modal" class="modal fade"></div>
    <!-- /.box-body -->
  </div>
</section>



