<%= render 'partials/content_header', back: true,backPath:library_index_path ,title: @title,add:1,text:'Nueva categoría',path_action: new_category_path %>
<section class="content">
  <div class="box">
    <!-- /.box-header -->
    <div class="box-body table-responsive">
      <table class="table table-striped">
        <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td style="width: 50px;"><%= link_to '', edit_category_path(category), class: 'fa fa-pencil' %></td>
            <td style="width: 50px;"><%= link_to '', category, class: 'fa fa-trash', method: :delete, data: {confirm: '¿Esta seguro que desea eliminar la Categoría?'} %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
</section>



